* {
    margin: 0;
    padding:0;
}

html, body {
    height: 100vh;
    font-family: Raleway;
}

a {
    text-decoration: none;
    color: midnightblue;
}

.back-page-row {
    margin-top: 25px;
}

.back-page-link {
    background-color: #eee;
    color: #888;
    font-weight: bold;
    padding: 7px 10px;
}

body {
    background-color: #eee;
    color: #888;
    display: flex;
    flex-direction: column;
}

button {
    padding: 9px 10px;
    color: white;
    /*background-color: #888;*/
    background-color: green;
    font-weight: bold;
    border: none;
    /*border-radius: 4px;*/
}

.content {
    background-color: darkolivegreen;
    flex: 1;
    padding: 30px;
    display: flex;
}

.errors-container {
    color: brown;
}

.footer {
    background-color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    margin: 10px 0px 15px 0px;
}

.header {
    background-color: white;
    display: flex;
    padding: 10px 0px 0px 10px;
    align-items: center;
}

.header a {
    color: #888;
}

input {
    padding: 7px 10px;
}

.logo {
    margin-right: 10px;
}

.main-content-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 3px 3px #333;
    color: #888;
    flex: 1;
    padding: 20px 15px;
}

.main-content-card h1 {
    margin-bottom: 10px;
}

.main-content-card .row {
    margin-top: 10px;
}

.nav {

}

.nav ul {
    display: flex;
}

.nav li {
    display: flex;
}

.nav a {
    color: #888;
    font-weight: bold;
    padding: 25px;
}

.nav a:hover {
    background-color: #eee;
}

.plus-circle-span {
    margin-right: 5px;
}

.row {
    margin: 15px 0px;
}

.sector-list-row {
    margin: 10px 0px;
    padding: 10px;
    color: black;
    display: flex;
    border-bottom: 1px solid #bbb;
    justify-content: space-between;
}

.sector-softwares-list-row {
    margin: 10px 0px;
    padding: 10px;
    color: black;
    display: flex;
    border-bottom: 1px solid #bbb;
    justify-content: space-between;
}

.sector-softwares-list-row a {
    color: #888;
    margin: 0px 5px;
}

.software-list-row {
    margin: 10px 0px;
    padding: 10px;
    color: black;
    display: flex;
    border-bottom: 1px solid #bbb;
    justify-content: space-between;
}

.software-list-row a {
    color: #888;
    margin: 0px 5px;
}

.sector-list-row a {
    color: #888;
    margin: 0px 5px;
}

.sector-creation {
    display: flex;
    align-items: center;
}

.software-creation {
    display: flex;
    align-items: center;
}
